
 <!-- NAV -->

    <nav class="nav">
      <div class="nav-left">
        <div class="logo">
          <i class="fa-solid fa-heart-pulse"></i>
          MediFlow
        </div>

        <div class="links">
          <a href="/home">Home</a>
          <a href="#how">How It Works</a>
          <a href="#features">Features</a>
        </div>
      </div>

      <div class="auth">
        <form method="get" action="/signup">
          <button class="ghost">Sign Up</button>
        </form>
        <form method="get" action="/login">
          <button class="primary" >Login</button>
        </form>
      </div>
    </nav>
