<%layout("/layout/boilerplate")-%>


  
    <!-- FEATURES -->

    <section id="features" class="features">
      <h2>Platform Features</h2>

      <p class="section-sub">
        Built to optimize hospital visits and save valuable time.
      </p>

      <div class="features-grid">
        <div class="feature">
          <i class="fa-solid fa-wave-square"></i>
          <h3>Live Queue Tracking</h3>
          <p>Real-time visibility before arriving.</p>
        </div>

        <div class="feature">
          <i class="fa-solid fa-bolt"></i>
          <h3>Instant Booking</h3>
          <p>Schedule appointments in seconds.</p>
        </div>

        <div class="feature">
          <i class="fa-solid fa-chart-line"></i>
          <h3>Staff Dashboard</h3>
          <p>Optimized patient workflow management.</p>
        </div>

        <div class="feature">
          <i class="fa-solid fa-hourglass-half"></i>
          <h3>Time Optimization</h3>
          <p>No unnecessary waiting time.</p>
        </div>
      </div>
    </section>
