<% layout("/layout/boilerplate") -%>


<div class="auth-overlay">
  <div class="auth-card">
    <a href="/home" class="close-btn">✕</a>

    <h2>Login</h2>

     <% if (success && success.length > 0) { %>
      <div class="success-msg">
    <%= success[0] %>
        </div>
    <% } %>

    <% if (error && error.length > 0) { %>
      <div class="error-msg">
    <%= error[0] %>
        </div>
    <% } %>


    <form action="/login" method="POST">
      <!-- ROLE SELECTION -->
      <div class="role-select">
        <button
          type="button"
          class="role-btn active"
          onclick="selectRole(this, 'user')"
        >
          User
        </button>
        <button
          type="button"
          class="role-btn"
          onclick="selectRole(this, 'receptionist')"
        >
          Receptionist
        </button>
      </div>

      <input type="hidden" name="role" id="roleField" value="user" />

      <!-- USERNAME -->
      <div class="input-group">
        <input type="text" name="username" placeholder="Username" required />
      </div>

      <!-- PASSWORD -->
      <div class="input-group password-group">
        <input
          type="password"
          name="password"
          id="passwordField"
          placeholder="Password"
          required
        />
        <span class="eye" onclick="togglePassword()">
          <i class="fa-regular fa-eye"></i>
        </span>
      </div>

      <button class="auth-btn" type="submit">Continue</button>
    </form>

    <p class="switch-text">New user? <a href="/signup">Sign up</a></p>
  </div>
</div>
